{% extends "base.html" %}
{% block title %}Diario{% endblock %}

{% block content %}
<div class="container-fluid">

    <h2 class="mb-4">Carga Diario</h2>

    <!-- 🔹 Carga archivo -->
    <div class="card p-4 shadow-sm mb-4">
        <form method="POST" enctype="multipart/form-data">
            
            <div class="card p-4 shadow-sm mb-4">
            <form method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Vigencia Desde:</label>
                    <input type="date" name="fecha_desde" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Vigencia Hasta:</label>
                    <input type="date" name="fecha_hasta" class="form-control" required>
                </div>
            </div>

            <input type="file" name="archivo" class="form-control mb-3" required>

            <button type="submit" class="btn-sys w-100">
                Cargar Excel Diario
            </button>
        </form>
    </div>

    <!-- 🔹 PREVIEW MULTI HOJA -->
    {% if preview %}
    <div class="card shadow-sm">

        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Previsualización de Hojas</h5>
        </div>

        <div class="card-body">

            {% for hoja in hojas_orden %}
            <div class="mb-5">

                <h5 class="mb-2">
                    {{ hoja | capitalize }}
                    {% if total_registros[hoja] %}
                        | Registros: {{ total_registros[hoja] }}
                    {% endif %}
                </h5>

                <div style="max-height:400px; overflow:auto;">
                    {{ preview[hoja] | safe }}
                </div>

            </div>
            {% endfor %}

            <!-- 🔥 INFO -->
            <div class="alert alert-info mt-4 text-end">
                Previsualización activa. (Solo columnas filtradas)
            </div>

        </div>
    </div>
    {% endif %}

</div>
{% endblock %}