{% extends "base.html" %}

{% block title %}Farmacia{% endblock %}

{% block content %}

<div class="p-4">

    <h2>Cargar archivo Excel</h2>

    <form method="POST" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
            <input type="file" name="archivo" class="form-control" required>
        </div>

        <button class="btn btn-primary">Subir y Previsualizar</button>
        
           <!-- BOTON DESCARGA -->
        <a href="{{ url_for('farmacia.descargar') }}" class="btn btn-success">
            Variacion de Farmacia
        </a>
    </form>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if preview %}
        <h4>Vista previa</h4>
        <div class="table-responsive">
            {{ preview | safe }}
        </div>
    {% endif %}

</div>

{% endblock %}